<div class="public-container">
      <h1>Public Recipes</h1>
  <% @public_recipes.each do |recipe| %>
          <div class="public-wrapper">
            <div class="public-left">
              <h4 class="mt-3"><%=recipe.name %></h4>
              <p>By : <%=recipe.user.name %></p>
            </div>
            <div class="public-right">
                <p class="card-text">Total food items: <%=recipe.recipe_foods.count %></p>
                <p>Total Price : $
                <% total_price = 0 %>
                <% recipe.recipe_foods.each do |recipe_food| %>
                <% total_price += recipe_food.quantity * (Food.find(recipe_food.food_id).price) %>
                <% end %>
                <%= total_price %>
              </p>
                <p>
                  <%= link_to "Show this recipe", recipe %>
                </p>
            </div>
          </div>
  <% end %>
</div>
